@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@700&display=swap");

/* Animation */

* {
  font-family: "Kadwa", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-links {
  @apply hover:border-0 after:content-[""] after:block after:w-0 after:h-[2px] after:bg-[#af734b] after:transition-[width] after:duration-300 after:hover:w-[100%];
}

.centerhome-links {
  @apply hover:text-[#af734b] no-underline flex items-center justify-center w-[532px] h-[82px] text-[#d8976c] text-[24px] p-[17px] gap-[54px] font-normal font-light leading-normal;
}

/* Workspace */
.workspace .hero {
  background-image: url("./asset/workspace_hero.jpg");
}
.hero {
  @apply bg-cover bg-no-repeat bg-center w-[98.6vw] h-[88vh] flex items-center justify-center;
}
.centerhero {
  @apply rounded-[14px] bg-black bg-opacity-75 inline-flex px-[40px] py-[81px] flex-col items-center w-auto h-[399px] box-border gap-[22px];
}
.hero-h2 {
  @apply text-white font-[Kadwa] text-[90px] m-0 font-normal font-bold leading-normal;
}
.hero-p {
  @apply text-white text-center font-[Kadwa] text-[14px] font-normal font-bold leading-normal flex w-[650px] h-[106px] flex-col justify-center flex-shrink-0 m-0;
}
.second {
  @apply flex py-10 flex-col;
}
.box {
  @apply flex items-start justify-center gap-9 ml-12 mt-[100px] my-auto w-[1155px];
}
.box-img {
  @apply flex w-[636px] h-[486px] p-3 flex-col items-start box-border gap-3;
}
.box-text {
  @apply flex flex-col items-start gap-1 w-[550px] mt-24;
}
.box-h3 {
  @apply text-black font-[Kadwa] text-[40px];
}

.box-p {
  @apply text-black opacity-60 font-[Kadwa] text-[14px] font-normal leading-normal;
}
.box-a {
  @apply rounded-[15px] bg-[#d8976c] border-none text-white no-underline px-[10px] py-[15px] mt-5;
}
