@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@700&display=swap");

/* Animation */

* {
  font-family: "Kadwa", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  @apply sm:hidden;
}
.navbar-links {
  @apply hover:border-0 after:content-[""] after:block after:w-0 after:h-[2px] after:bg-[#af734b] after:transition-[width] after:duration-300 after:hover:w-[100%];
}

.centerhome-links {
  @apply hover:text-[#af734b] no-underline flex items-center justify-center   text-[#d8976c] text-[24px] sm:text-sm p-[17px] sm:p-1 gap-[54px] sm:gap-2  font-light leading-normal;
}

/* Workspace */
.workspace .hero {
  background-image: url("./asset/workspace_hero.jpg");
}
.hero {
  @apply bg-cover bg-no-repeat bg-center w-[98.6vw] h-[88vh] sm:h-[100vh] md:w-[100vw] md:h-[100vh] flex items-center justify-center;
}
.centerhero {
  @apply sm:w-[100%] sm:text-center sm:h-[100%] sm:rounded-none rounded-[14px] bg-black bg-opacity-75 inline-flex px-[40px] py-[81px] flex-col items-center justify-center w-auto h-[399px] box-border gap-[22px];
}
.hero-h2 {
  @apply text-white font-[Kadwa] text-[90px] md:text-[50px] sm:text-[40px] m-0 font-normal font-bold leading-normal;
}
.hero-p {
  @apply text-white text-center font-[Kadwa] text-[14px] font-normal font-bold leading-normal flex h-[106px] flex-col justify-center flex-shrink-0 m-0;
}
.second {
  @apply flex py-10   flex-col gap-24;
}
.box {
  @apply flex px-10 justify-center gap-16 sm:gap-0 md:gap-1 ml-16 md:ml-1 sm:ml-1 my-auto items-center w-[1155px] md:w-[100%] sm:w-[100%]  sm:flex-col;
}
.box-img {
  @apply flex w-[636px] h-[486px]  sm:h-[80%] sm:w-[100%] md:w-[50%] md:h-[50%] p-3 sm:p-0 flex-col items-start box-border;
}
.box-text {
  @apply flex flex-col items-start gap-1 w-[550px] sm:w-[100%];
}
.box-h3 {
  @apply text-black font-[Kadwa] text-[35px] md:text-2xl sm:text-2xl;
}

.box-p {
  @apply text-black opacity-60 font-[Kadwa] text-[14px] md:text-xs font-normal leading-normal;
}
.box-a {
  @apply rounded-[15px] bg-[#d8976c] border-none text-white no-underline px-[10px] py-[15px] mt-5;
}
